@charset "UTF-8";

$headerHeight: 45px;
$green: #63c47d;

.v-header {
  background-color: $green;
  text-align: center;
  font-size: 17px;
  color: white;
  height: $headerHeight;
  line-height: $headerHeight;
  margin-bottom: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}