<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/dist/main.css">
    <title></title>
</head>
<body>
<header>vue-webpack-study</header>

<div id="app">
    <p>你要购买那款产品:</p>
    <ul>
        <li v-for="goods in goodsList">
            <div @click="selectGoods(goods)" class="goods-name" :class="{'selected': goods.selected}">{{goods.name}}</div>
        </li>
    </ul>
    <p><input type="checkbox" v-model="atLeast1300">忽略1300元以下的</p>
    <p>总价: {{totalPrice}}元</p>
</div>

<script src="/dist/main.js"></script>
</body>
</html>